.wrapper {
  width: 100%;
}

.trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  outline: none;

  background-color: var(--bg);
  border: 1px solid var(--border);
  color: var(--color);

  height: var(--height);
  font-size: var(--font-size);
  padding: var(--padding);
  border-radius: var(--border-radius);

  position: relative;
  isolation: isolate;
}

/* halo */
.trigger::after {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: calc(var(--border-radius));


  box-shadow: 0px 0px 5px 3px var(--focused);
  opacity: 0;
}

/* animation quand ouvert */
.trigger[data-state="open"]::after {
  animation: haloPulse 1.6s ease-out infinite;
}



.trigger svg {
  transition: transform 0.2s ease;
}

.open {
  transform: rotate(180deg);
}

@keyframes haloPulse {
  0% {
    box-shadow: 0px 0px 5px 3px var(--focused);
    opacity: 1;
  }

  50% {
    box-shadow: 0px 0px 5px 3px var(--focused);
    opacity: 1;
  }

  100% {
    box-shadow: 0px 0px 5px 3px var(--focused);
    opacity: 1;
  }
}