.button {
    /* Layout */
    display: flex;
    flex-direction: row;
    position: relative;
    /* align-items: center;
    justify-content: center; */
    gap: var(--space-2);


    align-self: center;
    /* width: fit-content;
    flex-shrink: 0; */

    /* box-sizing: border-box; */

    /* Typography */

    user-select: none;
    /* white-space: nowrap; */

    /* Appearance */
    background-color: var(--bg);
    color: var(--color);
    border: 1px solid var(--border);
    border-radius: var(--radius-lg);
    box-shadow: var(--_shadow);

    height: var(--height);
    padding: var(--padding);
    font-size: var(--font-size);
    font-weight: var(--font-weight);


    /* overflow: hidden; */

    /* Interaction */
    cursor: pointer;
    outline: none;

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease,
        box-shadow 0.2s ease,
        transform 0.1s ease;
}

/* Filled */
.button[data-appearance="filled"]:hover:not(:disabled):not([data-loading]) {
    background-color: var(--bg-hover);
    border-color: var(--border-hover);
    scale: 1.05;
}

.button[data-appearance="filled"]:active:not(:disabled):not([data-loading]) {
    background-color: var(--bg-active);
    border-color: var(--border-active);
    scale: 1;
}

/* Outline */
.button[data-appearance="outline"]:hover:not(:disabled):not([data-loading]) {
    border-color: var(--border-hover);
    color: var(--text-hover);
    scale: 1.05;
}

.button[data-appearance="outline"]:active:not(:disabled):not([data-loading]) {
    border-color: var(--border-active);
    scale: 1;
}

/* Ghost */
.button[data-appearance="ghost"]:hover:not(:disabled):not([data-loading]) {
    color: var(--text-hover);
    scale: 1.05;
}

.button[data-appearance="ghost"]:active:not(:disabled):not([data-loading]) {
    scale: 1;
}

/* Link */
.button[data-appearance="link"] {
    padding-inline: 0;
}

.button[data-appearance="link"]:hover:not(:disabled):not([data-loading]) {
    color: var(--text-hover);
    scale: 1.05;
}

.button[data-appearance="link"]:active:not(:disabled):not([data-loading]) {
    scale: 1;
}

.button[data-full-width] {
    width: 100%;
}

.button[data-icon-only] {
    padding: var(--space-3);
    aspect-ratio: 1;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}