# Dépendances et builds
**/node_modules
**/dist

# Environnement
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*

# Vscode
.vscode/

# Système d'exploitation
.DS_Store

# Docker
.env.local
init.sql
mysql_data/