.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  
  position: relative;
  width: fit-content;
  box-sizing: border-box;
  
  background-color: var(--bg);
  border: 1px solid var(--border);
  color: var(--color);
  height:var(--height);
  font-size:var(--font-size);
  border-radius: var(--border-radius);
}

