.uiButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;


  background: var(--component-bg);
  color: var(--component-text);
  border: var(--component-borderSize) solid var(--component-border);
  box-shadow: var(--component-shadow);
  
  height: var(--component-height);
  border-radius: var(--component-radius);
  padding: 0 var(--component-padding);
  font-size: var(--component-fontSize);

  

  transition:
    background .2s,
    border-color .2s,
    color .2s,
    box-shadow .2s;
}

.uiButton:hover {
  background: var(--component-bg-hover);
  color: var(--component-text-hover);
  border-color: var(--component-border-hover);
  box-shadow: var(--component-shadow-hover);
}

.uiButton:active {
  background: var(--component-bg-active);
  color: var(--component-text-active);
  border-color: var(--component-border-active);
  box-shadow: var(--component-shadow-active);
}

.uiButton:disabled {
  background: var(--component-bg-disabled);
  color: var(--component-text-disabled);
  border-color: var(--component-border-disabled);
  box-shadow: var(--component-shadow-disabled);

  cursor: not-allowed;
  opacity: .7;
}