.uiButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--component-bg);
  color: var(--component-text);
  border: var(--component-borderSize) solid var(--component-border);
  box-shadow: var(--component-shadow-box);

  height: var(--component-height);
  border-radius: var(--component-radius);
  padding: 0 var(--component-padding);
  font-size: var(--component-fontSize);

  transform: translateY(0) scale(1);

  transition:
    background .2s,
    border-color .2s,
    color .2s,
    box-shadow .2s,
    transform .2s,
    opacity .2s;
}

.uiButton:hover {
  background: var(--component-bg-hover);
  color: var(--component-text-hover);
  border-color: var(--component-border-hover);
  box-shadow: var(--component-shadow-box-hover);

  transform: translateY(var(--motion-hover-translate-y)) scale(var(--motion-hover-scale));
  opacity: var(--motion-hover-opacity);
}

.uiButton:active {
  background: var(--component-bg-active);
  color: var(--component-text-active);
  border-color: var(--component-border-active);
  box-shadow: var(--component-shadow-box-active);

  transform: translateY(var(--motion-active-translate-y)) scale(var(--motion-active-scale));
  opacity: var(--motion-active-opacity);
}

.uiButton:disabled {
  background: var(--component-bg-disabled);
  color: var(--component-text-disabled);
  border-color: var(--component-border-disabled);
  box-shadow: var(--component-shadow-box-disabled);

  cursor: not-allowed;

  transform: translateY(var(--motion-disabled-translate-y)) scale(var(--motion-disabled-scale));
  opacity: var(--motion-disabled-opacity);
}