.container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.badge {
    width: 40px !important;
}

.icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}