/* ==================================================
   NEUTRAL TOKENS
   ================================================== */

:root {
    --neutral-50: rgb(250, 245, 233);
    --neutral-100: rgb(242, 237, 225);
    --neutral-200: rgb(230, 225, 213);
    --neutral-300: rgb(210, 205, 193);
    --neutral-400: rgb(180, 175, 163);
    --neutral-500: rgb(140, 135, 123);
    --neutral-600: rgb(110, 105, 93);
    --neutral-700: rgb(80, 75, 63);
    --neutral-800: rgb(60, 55, 43);
    --neutral-900: rgb(40, 35, 23);
    --neutral-500-rgb: 140, 135, 123;

    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
}