[data-role="checkbox"][data-appearance="filled"] {
  --bg:var(--white);
  --border:var(--tone-500);
  --color:var(--tone-500);
}

[data-role="checkbox"][data-appearance="outline"] {
  --bg:transparent;
  --border:var(--tone-500);
  --color:var(--tone-500);
}

[data-role="checkbox"][data-appearance="ghost"] {
  --bg:transparent;
  --border:transparent;
  --color:var(--tone-500);
}

[data-role="checkbox"][data-appearance="soft"] {
  --bg:var(--tone-200);
  --border:var(--tone-500);
  --color:var(--tone-500);
}