.button{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color:var(--color);
    right: 0;
}

.button svg {
  width: 1em;
  height: 1em;
  font-size: var(--icon-size);
  display: block;
}