.row {
    display: flex;
    align-items: center;
    position: relative;
    height: 44px;
}

.node {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: solid 2px red;
    background-color: inherit;
    position: relative;
    z-index: 1;
}

.activeNode {
    position: relative;
}

.activeNode::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: currentColor;
    position: absolute;
    left: 3px;
    top: 3px;
}

.info {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    align-items: center;
    padding: 4px 8px;
    border-radius: 6px;
    gap: 8px;
}

.label {
    color: white
}

.action {
    margin-left: auto;
    display: flex;
    gap: 4px;
}

.visible{
    visibility: hidden;
}